<% @items.each do |item| %>
  <li class='item'>
    <h3><%= item.name %></h3>
    <%= image_tag item.image_url %>
    <%= item.description %>
    <%= link_to "Checkout", new_item_borrowing_path(item) %>
  </li>
<% end %>